.PDFPage {
	width: 8.5in;
	font:Arial, Helvetica, sans-serif;
	font-size:10pt;

	}
.legend {
	width: 100%;
	display: inline-block;
	text-align:center;
	clear:left;
}
.PDFlabel {
    width: 250px;
    display: inline-block;
	font:Arial, Helvetica, sans-serif;
	color:#000000
}
.PDFlabel2 {
    width: 60px;
    display: inline-block;
	font:Arial, Helvetica, sans-serif;
	color:#000000
}
.PDFlabel3 {
    width: 100px;
    display: inline-block;
	font:Arial, Helvetica, sans-serif;
	color:#000000
}
.PDFlabel4 {
    width: 120px;
    display: inline-block;
	font:Arial, Helvetica, sans-serif;
	color:#000000
}
.PDFlabel5 {
    width: 150px;
    display: inline-block;
	font:Arial, Helvetica, sans-serif;
	color:#000000
}
.PDFlabel6 {
    width: 200px;
    display: inline-block;
	font:Arial, Helvetica, sans-serif;
	color:#000000
}
.PDFlabel7 {
    width: 250px;
    display: inline-block;
	font:Arial, Helvetica, sans-serif;
	color:#000000
}
.PDFlabel8 {
    width: 300px;
    display: inline-block;
	font:Arial, Helvetica, sans-serif;
	color:#000000
}
.PDFlabel9 {
    width: 400px;
    display: inline-block;
	font:Arial, Helvetica, sans-serif;
	color:#000000
}
.PDFMainContainer{
	border: 2px solid #000000;
	width:8.5in;	
	overflow: hidden;
	padding-left: 10px;
}
.PDFBorderContainer
{
	border: 1px solid #000000;	
}

.W15, .w25, .w30, .w50, .w70, .w100
{
	height: 30px;
	float: left;
	display: inline-block;
	width: 100%;
	font:Arial, Helvetica, sans-serif;
	color:#000000;
}
.w15{
    width: 15%;
}

.w25{
    width: 25%;
}

.w30{
    width: 30%;
}
.w50{
    width: 50%;
}
.w70{
    width: 70%;
}
.w100{
    width: 100%;
}
.BoxUnderline {
	text-decoration: underline;	
}
.CommentBox
{
	width: 100%;
	height:80px;
	display: inline-block;
	text-align:center;
	clear:left;
}
.textred {
    font-family : sans-serif;
	font-size : 13px;
	color : #8B4513;	
}
.PDFSectionFont
{
  font:Arial, Helvetica, sans-serif;
  font-size:1.2em;
  font-weight: bolder;
}
input {
    padding: 2px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.UnderlineDiv{
	border-bottom: 1px solid #000;
}
.tbl {background-color:#000;}
.tbl td,th,caption{background-color:#fff}
input.printFormat {
    border: none;
    background: none;
    border-bottom: 1px solid #000;
    text-align: right;
	width:90px;
	}
.border1 {
 	border-bottom: 1px solid #000;
    padding: 0px 0px 16px;	
}
.rowcolor1 {
			background: #F5F5F5;
			margin: 0px 0px 2px;
			padding: 16px;
			}