.text_red {
	font-family : sans-serif;
	font-size : 13px;
	color : #8B4513;
}
.text_redHeader {
	font-family : sans-serif;
	font-size : 18px;
	color : #8B4513;
}


.text_gray {
	font-family : sans-serif;
	font-size : 13px;
	color : #808080;
}

.text_dark_gray {
	font-family : sans-serif;
	font-size : 13px;
	color : #595A5A;
}

.text_green {
text-decoration : none;
	font-family : sans-serif;
	font-size : 13px;
	color : #277888;
}

.text_purple {
	font-family : sans-serif;
	font-size : 13px;
	color : #7D2D89;
}
.textWhite_small {
	color: white;
	font-family: sans-serif;
	font-size: 8pt;
}

.text_white_small {
	font-family : sans-serif;
	font-size : 11px;
	color : #FFFFFF;
}

.text_small {
	font-family : sans-serif;
	font-size : 11px;
	color : #546785;
}

.text_red_small {
	font-family : sans-serif;
	font-size : 11px;
	color : #8B4513;
}

.text_dark_gray_small {
	font-family : sans-serif;
	font-size : 11px;
	color : #595A5A;
}

.text_black_small {
	font-family : sans-serif;
	font-size : 11px;
	color : #000000;
}
.text_gray_small{
	font-family : sans-serif;
	font-size : 11px;
	color : #808080;
}
.text_green_small {
	font-family : sans-serif;
	font-size : 11px;
	color : #277888;

}

.text_purple_small {
	font-family : sans-serif;
	font-size : 11px;
	color : #7D2D89;

}



.nonActive {
	font-family : sans-serif;
	font-size : 13px;
	color : #C0C0C0;
}



.text_red_bold {
	font-family : sans-serif;
	font-size : 12px;
	color : #804000;
	font-weight :  bold;
}
.text_red_bold_big {
	font-family : sans-serif;
	font-size : 24px;
	color : #804000;
	font-weight :  bold;
}


.text_green_bold {
	font-family : sans-serif;
	font-size : 12px;
	color : #277888;
	font-weight :  bold;
}
.text_green_bold2 {
	font-family : sans-serif;
	font-size : 16px;
	color : #277888;
	font-weight :  bold;
}

.text_purple_bold {
	font-family : sans-serif;
	font-size : 12px;
	color : #7D2D89;
	font-weight :  bold;
}


.text_dark_gray_bold {
	text-decoration : none;
	font-family : sans-serif;
	font-size : 12px;
	color : #595A5A;
	font-weight :  bold;
}

.text_small_bold {
	font-family : sans-serif;
	font-size : 11px;
	color : #7F8A9C;
	font-weight : bold;
}


.textBold {
	font-family :  sans-serif;
	font-size : 12px;
	color : #546785;
	font-weight : bold;
}

.textBoldWhite {
	font-family : sans-serif;
	font-size : 12px;
	color : #FFFFFF;
	font-weight : bold;
}
.textBoldWhiteExtraLarge {
	font-family : sans-serif;
	font-size : 24px;
	color : #FFFFFF;
	font-weight : bold;
}

.textBoldLG {
	font-family :  "Microsoft Sans Serif", sans-serif;
	font-size : 15px;
	color : #546785;
	font-weight : bold;
}

.textBoldDarkBlue {
	font-family : sans-serif;
	font-size : 12px;
	color : #495561;
	font-weight : bold;
}

.error {
	font-family : sans-serif;
	font-size : 12px;
	color : #804000;
	font-weight : normal;
}

.errorBold {
	font-family : sans-serif;
	font-size : 12px;
	color : #804000;
	font-weight :  bold;
}
.text_error_small {
	font-family : sans-serif;
	font-size : 11px;
	color : #804000;
}

.error_small {
	font-family : sans-serif;
	font-size : 9px;
	color : #804000;
	font-weight : normal;
}

.correct {
	font-family : sans-serif;
	font-size : 9px;
	color : #703A12;
	font-weight : bold;
}


.title {
	font-family : sans-serif;
	font-size : 14px;
	color : #495561;
	font-weight : bold;
}

.title_red {
	font-family : sans-serif;
	font-size : 14px;
	color : #8B4513;
	font-weight : bold;
}

.title_white {
	font-family : sans-serif;
	font-size : 14px;
	color : #FFFFFF;
	font-weight : bold;
}


.title_green{
	color : #277888;
	font-family : sans-serif;
	font-size : 14px;
	font-weight : bold;
}

.title_purple{
	color : #7D2D89;
	font-family : sans-serif;
	font-size : 14px;
	font-weight : bold;
}

.title_gray{
	color : #595A5A;
	font-family : sans-serif;
	font-size : 14px;
	font-weight : bold;
}


.buttonText {
	font-family : sans-serif;
	font-size :12px;
	color : #000000;
}

.heading{
	color : #546785;
	font-family : sans-serif;
	font-size : 16px;
	vertical-align : middle;
	font-weight : bold;
}

.heading_gray{
	color : #A5ADB4;
	font-family : sans-serif;
	font-size : 16px;
	font-weight : bold;
}

.heading_dark_gray{
	color : #595A5A;
	font-family : sans-serif;
	font-size : 15px;
	font-weight : bold;
}

.heading_red{
	color : #802000;
	font-family : sans-serif;
	font-size : 16px;
	font-weight : bold;
}


.heading_white{
	color : #FFFFFF;
	font-family : sans-serif;
	font-size : 16px;
	font-weight : bold;
}

.heading_green{
	color : #277888;
	font-family : sans-serif;
	font-size : 16px;
	font-weight : bold;
}

.heading_purple{
	color : #7D2D89;
	font-family: sans-serif;
	font-size : 16px;
	font-weight : bold;
}

.GlowBlueHeader{
	color: white;
	font-family: "arial", Geneva, sans-serif;
	font-size: 16px;
	font-weight: bolder;
	background-color: #990099;
	text-transform:uppercase;
}
.GlowBlueHeader2{
	color: white;
	font-family: "arial", Geneva, sans-serif;
	font-size: 22px;
	font-weight: bolder;
	background-color: #990099;
	text-transform:uppercase;
}
.ButtonGreen{
	color : #277888;
	font-family : sans-serif;
	font-size : 22px;
	font-weight : bold;
}
.GlowGreenHeader2{
	color: white;
	font-family: "arial", Geneva, sans-serif;
	font-size: 22px;
	font-weight: bolder;
	background-color: #408080;
	text-transform:uppercase;
}
.TextFieldYellow{
	color: red;
	font-family: "arial", Geneva, sans-serif;
	font-size: 18px;
	font-weight: bolder;
	background-color: #FFFFCC;
}




.text_spacer {
	font-family : sans-serif;
	font-size : 1px;
	color : #FFFFFF;
}

.text_select {
	font-family:san-serif;
	font-size:14px;
	color:#CC0000;
	background-color:#FF9;
}


table.borderLightGray {
	border: 1px solid #C0C0C0;
}

table.borderDarkGreen {
	border: 1px solid #277888;
	}

table.borderMediumGreen {
	border: 1px solid #4FA1AD;
	}

table.borderLightGreen {
	border: 1px solid #D1E6EA;
	}

table.borderDarkPurple {
	border: 1px solid #7D2D89;
}

table.borderMediumPurple {
	border: 1px solid #A56DAF;
}

table.borderLightPurple {
	border: 1px solid #E8D9EA;
}

table.fillDarkGreen, td.fillDarkGreen{
	background-color: #277888;
	}

table.fillMediumGreen, td.fillMediumGreen {
	background-color: #4FA1AD;
	}

table.fillLightGreen, td.fillLightGreen {
	background-color: #EBF2F2;
}

table.fillDarkPurple, td.fillDarkPurple {
	background-color: #7D2D89;
}

table.fillMediumPurple, td.fillMediumPurple {
	background-color: #A56DAF;
}

table.fillLightPurple, td.fillLightPurple {
	background-color: #F5EEF6;
}

table.borderMediumGray {
	border: 1px solid #A0A0A0;
}

table.fillLightGray, td.fillLightGray {
	background-color: #EEEFF0;
}

table.fillDarkGray, td.fillDarkGray {
	background-color: #999999;
}

table.formLineBorder {

	border-bottom: 1px solid #A0A0A0;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
}
.tutorial_text_orange{
	color : rgb(197, 67, 28);
	font-family : sans-serif;
	font-size: 14px;
	font-weight: bold;
}
.thinwhiteline {
	background:#ffffff;
	width:100%;
	height:.6em;
	padding:0
}
.thingrayline {
	background:#CCC;
	width:90%;
	height:.1em;
	padding:0
}
.text1 {
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 9px;
}
.text2 {
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.text3 {
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.text4 {
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.text5 {
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
}